html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.banner-box {
    width: 100%;
    height: 750px;
    background-image: url("../public/chat-banner.jpg");
    background-position: center center;
    background-size: cover;
}

.banner-box-wapper {
    width: 100%;
    height: 100%;
    background-color: #00000070;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 600px;
    font-size: 3rem;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.login-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 500px;
    height: 500px;
    box-shadow: 3px 3px 15px #00000020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up-box {
    width: 500px;
    height: 350px;
    box-shadow: 3px 3px 15px #00000020;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.login-input-label {
    font-size: 0.7rem;
    font-weight: bold;
    color: #777777;
    margin: 0 0 3px 20px;
}

.login-input {
    width: 400px;
    height: 40px;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    padding: 20px;
    color: #777777;
}

.login-button {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #5784ff;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
}

.sign-up-description {
    width: 400px;
    text-align: right;
    font-size: 0.7rem;
    font-weight: bold;
    color: #777777;
}

.sign-up-description span {
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 2px solid;
    cursor: pointer;
    margin-left: 5px;
}

.room-list-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    box-shadow: 3px 3px 15px #00000020;
    cursor: pointer;
}

.room-list-box div {
    vertical-align: middle;
    line-height: 60px;
    color: #777777;
}

.chat-room-title-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
}

.chat-room-title {
    margin-left: 20px;
    width: 60%;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: middle;
}

.room-title {
    width: 60%;
    margin-left: 20px;
}

.room-title span {
    vertical-align: middle;
}

.room-title div {
    display: inline;
    margin-left: 20px;
    font-size: 0.9rem;
}

.chat-room-owner {
    width: 10%;
    font-size: 0.9rem;
    font-weight: bold;
    vertical-align: middle;
}

.chat-room-chat-time {
    width: 20%;
    font-size: 0.8rem;
    font-weight: bold;
}

.chat-room-head-count {
    width: 10%;
    font-size: 0.8rem;
    font-weight: bold;
}

.room-owner {
    width: 10%;
    font-size: 0.9rem;
    font-weight: bold;
}

.room-chat-time {
    width: 20%;
    font-size: 0.8rem;
}

.room-head-count {
    width: 10%;
    font-size: 0.8rem;
}

.message-left-box {
    display: flex;
    justify-content: flex-start;
}

.message-right-box {
    display: flex;
    justify-content: flex-end;
}

.message-icon {
    margin: 0 20px;
}

.message-text-box {
    padding-top: 15px;
}

.message-user-id-left {
    font-size: 0.9rem;
    color: #777777;
    margin-bottom: 10px;
}

.message-user-id-right {
    text-align: right;
    font-size: 0.9rem;
    color: #777777;
    margin-bottom: 10px;
}

.message-text-left {
    font-size: 0.7rem;
    font-weight: bold;
    color: #777777;
    background: #eeeeee;
    padding: 5px 10px;
    border-radius: 0 15px 15px 15px;
    display: inline-block;
}

.message-text-right-box {
    text-align: right;
}

.message-text-right {
    font-size: 0.7rem;
    font-weight: bold;
    color: #ffffff;
    background: #5784ff;
    padding: 5px 10px;
    border-radius: 15px 0 15px 15px;
    display: inline-block;
}

.message-send-box {
    display: flex;
    margin: 30px auto;
    box-shadow: 3px 3px 15px #00000020;
    width: 90%;
}

.send-input-box {
    width: 100%;
    height: 60px;
    padding: 30px;
    border: none;
}

.send-button {
    width: 100px;
    border: none;
    background: #5784ff;
    color: #ffffff;
}

.message-send-time {
    color: #777777;
    font-size: 0.7rem;
    margin: 0 10px;
}

.navbar {
    box-shadow: 3px 3px 15px #00000020;
    height: 50px;
}

.navbar-container {
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navber-menu {
    line-height: 50px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.navber-menu div {
    cursor: pointer;
    font-weight: bold;
    color: #777777;
}

.navbar-logo {
    line-height: 50px;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.create-room-button-box {
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.create-room-button {
    width: 100px;
    height: 30px;
    border: none;
    background: #5784ff;
    color: #ffffff;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 3px 3px 15px #00000020;
}

.create-room-button:hover {
    color: #5784ff;
    background-color: #ffffff;
    transition: 0.1s;
}

.create-room-input {
    width: 400px;
    height: 30px;
    border: none;
    box-shadow: 3px 3px 15px #00000020;
}

.chat-container {
    display: flex;
}

.user-list-box {
    width: 20%;
    border-right: 1px solid #dddddd;
}

.user-list-title {
    text-align: center;
    margin: 10px 0;
    font-size: 1.0rem;
    color: #777777;
    font-weight: bold;
}

.user-box {
    display: flex;
    justify-content: flex-start;
    margin: 5px 0;
}

.user-box-name {
    width: 100px;
    margin-left: 20px;
    line-height: 50px;
    font-size: 0.9rem;
    color: #777777;
}

.user-owner {
    width: 30px;
    line-height: 50px;
    font-size: 0.6rem;
    font-weight: bold;
}

.chat-box {
    width: 80%;
}

.chat-box-header {
    display: flex;
    justify-content: space-between;
}

.chat-box-inner {
    height: 60vh;
    overflow: auto;
}

.chat-box-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
    width: 90%;
}

.room-delete-button {
    width: 10%;
    line-height: 50px;
    text-align: center;
}

.room-delete-button button {
    border: none;
    font-size: 0.8rem;
    background-color: #f59989;
    color: #ffffff;
    padding: 5px;
    transition: 0.1s;
    cursor: pointer;
}

.room-delete-button button:hover {
    color: #f59989;
    background-color: #ffffff;
    transition: 0.1s;
}

.footer-container {
    background-color: #333333;
    color: #ffffff;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.footer-column-1 {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.footer-column-1-left {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-column-1-right {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-column-2 {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.footer-column-2 p {
    margin: 0;
}

.center {
    text-align: center;
}

.footer-column-2-column {
    width: 100px;
    cursor: pointer;
}
